
.body {
  width: 1296px;
  height: 1884px;
  top: -943px;
  left: -648px;
  

  background: #1C1C1C;
}

.option1 {
  position: absolute;
  width: 550px;
  height: 868px;
  top: 53px;
  left: 65px;
  
  background: #23252C;
  display: flex;
  justify-content: center; /* Horizontally centers the content */
  align-items: center; /* Vertically centers the content */

}

.option2 {
  position: absolute;
  width: 550px;
  height: 868px;
  top: 53px;
  left: 664px;
  
  
  background: #23252C;
  display: flex;
  justify-content: center; /* Horizontally centers the content */
  align-items: center; /* Vertically centers the content */

}

.option3 {
  position: absolute;
  width: 550px;
  height: 868px;
  top: 960px;
  left: 73px;

  background: #23252C;
  display: flex;
  justify-content: center; /* Horizontally centers the content */
  align-items: center; /* Vertically centers the content */

}

.option4 {
  position: absolute;
  width: 550px;
  height: 868px;
  top: 960px;
  left: 664px;

  background: #23252C;
  display: flex;
  justify-content: center; /* Horizontally centers the content */
  align-items: center; /* Vertically centers the content */

}

.option2 .linkedin-btn , .option4 .linkedin-btn { 
  visibility: hidden;
}

.option2 .email-btn, .option4 .email-btn {
  width: 247px;
  height: 34px;
  top: 467px;
  left: 150px;
  padding: 9px 13px 9px 11px;
  border-radius: 6px;
  border: 1px;
  gap: 8px;

  background: linear-gradient(0deg, #D1D5DB, #D1D5DB),
  linear-gradient(0deg, #FFFFFF, #FFFFFF);

  border: 1px solid #D1D5DB;
  background: white;
  box-shadow: 0px 1px 2px 0px #0000000D;

  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

.option3 .main-card, .option4 .main-card {
  background: #F5F5F5;
}

.option3 .icons, .option4 .icons {
  background: #D5D4D8;
}

.option3 .type1, .option4 .type1 {
  color: #2B283A;
}

.option3 .type2, .option4 .type2 {
  color: #F47D27;
}

.option3 .type3, .option4 .type3 {
  color: #4A4E74;
}

.option3 .desc-title, .option4 .desc-title {
  color: #2B283A;
}

.option3 .desc-content, .option4 .desc-content {
  color: #4A4E74;
}

.option1 .linkedinIcon, .option3 .linkedinIcon{
  display: none;
}