

.body {
  width: 1296px;
  height: 1884px;
  top: -943px;
  left: -648px;
  

  background: #1C1C1C;
}

.option1 {
  position: absolute;
  width: 550px;
  height: 868px;
  top: 53px;
  left: 65px;
  
  background: #23252C;
  display: flex;
  justify-content: center; /* Horizontally centers the content */
  align-items: center; /* Vertically centers the content */

}

.option2 {
  position: absolute;
  width: 550px;
  height: 868px;
  top: 53px;
  left: 664px;
  
  background: #23252C;
}

.option3 {
  position: absolute;
  width: 550px;
  height: 868px;
  top: 960px;
  left: 73px;

  background: #23252C;

}

.option4 {
  position: absolute;
  width: 550px;
  height: 868px;
  top: 960px;
  left: 664px;

  background: #23252C;
}

.main-card {
  width: 317px;
  height: 780px;
  top: 44px;
  left: 116px;
  border: 1px solid none;
  box-shadow: 0px 4px 4px 0px #00000040;
}

img {
  width: 317px;
  height: 317px;
}

.img {
  border-radius: 10px 10px 0px 0px;
}

h1 {
  font-family: Inter;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;

  color: #FFFFFF;
}

h2 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #F5F5F5;
  
}

h3 {
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  color: #F3BF99;
}

h4 {
  font-family: Inter;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  color: #F5F5F5;
}

.content {  
  text-align: left;
}

.description {
  display: flex; 
  flex-direction: column; 
  align-items: center;
}

.type1 {
  position: absolute;
  width: 178.06451416015625px;
  height: 25.80645179748535px;
  top: 382px;
  left: 186px;
  

  font-family: Inter;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  
  color: white;
}

.type2 {
  position: absolute;
  width: 178.06451416015625px;
  height: 14.193548202514648px;
  top: 414px;
  left: 186px;

  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;

  color: #F3BF99;
}

.type3 {
  position: absolute;
  width: 228px;
  height: 16px;
  top: 437px;
  left: 161px;

  font-family: Inter;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  color:#F5F5F5;

}